* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: rgb(255, 255, 255);
  }
  
  body {
    background: #0e0048;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container {
    background-color: #000000;
    padding: 30px 40px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 350px;
  }
  
  .login-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    color: black;
  }
  
  .login-container button {
    width: 100%;
    padding: 10px;
    background-color: #08670d;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-container button:hover {
    background-color: #08670d;
  }
  